#entete {
  background: #E27A73 ;
  transition: all 2s;
  font-size:20px;
  padding: 50px 0px;
  text-align:right;
  font-family:lucida console;
  color:white;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
a {
  text-decoration: none;
  color: #d9232d;
}
a:hover {
  color: #e24d55;
  text-decoration: none;
}
section {
  padding: 80px 0;
}
.blog {
  padding: 40px 0 40px 0;
}
.blog .article {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .article .entrer-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}
.blog .article .entrer-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .article .source {
  margin-bottom: 15px;
  color: #c1c8d0;
}
.blog .article .contenu .read-more a {
  display: inline-block;
  background: #d9232d;
  color: #fff;
  padding: 6px 20px 7px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.blog .article .contenu p {
  line-height: 24px;
  font-size: 15px;
}
.blog .blog-pagination li a {
  color: #aaaaaa;
  padding: 7px 16px;
  display: inline-block;
}
.blog .article .contenu h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
footer {
  background: #4a5562;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
.copyright{
	text-align:center;
}